#dark_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000000;
    z-index: 100;
}

aside[id$='_game_panel'] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-width: 320px;
    max-width: 600px;
    height: fit-content;
    max-height: 354px;
    padding: 20px;
    overflow-y: auto;
    border: 2px solid;
    z-index: 101;
}

form[id$='_game_form'] {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.form_block {
    padding: 6px 3px;
    border-left: 3px solid;
    margin: 10px 0;
}

.form_block > * {
    width: 300px;
    display: block;
    margin: 2px 0;
}

iframe#not-newgame {
    min-width: 0 !important;
    min-height: 0 !important;
}